<a href="https://colab.research.google.com/github/zainali60/ML/blob/main/ML1_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/DataSet.csv")
data.head()

  Developer   Age   Salary Married
0   Karachi  42.0  78000.0      No
1    Lahore  32.0  48000.0     Yes
2   Karachi  36.0  60000.0      No
3    Multan  41.0  68000.0      No
4    Lahore  42.0      NaN     Yes

In [ ]:
data.shape

(10, 4)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Developer  10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Married    10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [ ]:
data.isnull().sum()

Developer    0
Age          1
Salary       1
Married      0
dtype: int64

In [ ]:
numerical_data = data.select_dtypes(['float64','int64']).columns
data[numerical_data] = data[numerical_data].fillna(data[numerical_data].mean())
data[numerical_data].mean()

Age          40.444444
Salary    68777.777778
dtype: float64

In [ ]:
data.isnull().sum()

Developer    0
Age          0
Salary       0
Married      0
dtype: int64

In [ ]:
X=data.iloc[:,:-1].values
y=data.iloc[:,3].values

In [ ]:
X.shape

(10, 3)

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

labelencoder_X = LabelEncoder()

X[:,0]=labelencoder_X.fit_transform(X[:,0])

columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [0])],     remainder='passthrough')
X=np.array(columnTransformer.fit_transform(X),dtype=np.str)

#onehotencoder=OneHotEncoder(categorical_features =[0])

#X=onehotencoder.fit_transform(X).toarray()

In [ ]:
X

array([['1.0', '0.0', '0.0', '42.0', '78000.0'],
       ['0.0', '1.0', '0.0', '32.0', '48000.0'],
       ['1.0', '0.0', '0.0', '36.0', '60000.0'],
       ['0.0', '0.0', '1.0', '41.0', '68000.0'],
       ['0.0', '1.0', '0.0', '42.0', '68777.77777777778'],
       ['0.0', '0.0', '1.0', '43.0', '59000.0'],
       ['1.0', '0.0', '0.0', '40.44444444444444', '59000.0'],
       ['0.0', '1.0', '0.0', '44.0', '79000.0'],
       ['0.0', '0.0', '1.0', '52.0', '99000.0'],
       ['0.0', '1.0', '0.0', '32.0', '69000.0']], dtype='<U17')

In [ ]:
#from sklearn import preprocessing
#le = preprocessing.LabelEncoder()


# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
#data = data.apply(le.fit_transform)
#data.head()

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.30, random_state=42)

In [ ]:
#Standard and fit the data for better predication 

from sklearn.preprocessing import StandardScaler

sc_X=StandardScaler()

x_test=sc_X.fit_transform(x_test)
x_train=sc_X.fit_transform(x_train)

In [ ]:
x_train

array([[ 1.15470054, -0.8660254 , -0.40824829,  0.61281079,  1.27432774],
       [-0.8660254 ,  1.15470054, -0.40824829,  1.13102662,  1.41322505],
       [ 1.15470054, -0.8660254 , -0.40824829, -0.94183671, -1.22582391],
       [-0.8660254 ,  1.15470054, -0.40824829, -1.97826838,  0.02425191],
       [-0.8660254 ,  1.15470054, -0.40824829,  0.61281079, -0.00661416],
       [-0.8660254 , -0.8660254 ,  2.44948974,  0.35370287, -0.1146454 ],
       [ 1.15470054, -0.8660254 , -0.40824829,  0.20975403, -1.36472123]])