<a href="https://colab.research.google.com/github/zainali60/ML/blob/main/ML3_multiple_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as py
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data = pd.read_csv("/content/M_Regression.csv")
data.head()

      indoor    outdoor   domestic     Profit
0  165349.20  136897.80  471784.10  192261.83
1  162597.70  151377.59  443898.53  191792.06
2  153441.51  101145.55  407934.54  191050.39
3  144372.41  118671.85  383199.62  182901.99
4  142107.34   91391.77  366168.42  166187.94

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   indoor    50 non-null     float64
 1   outdoor   50 non-null     float64
 2   domestic  50 non-null     float64
 3   Profit    50 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB

In [ ]:
data.shape

(50, 4)

In [ ]:
data.isnull().sum()

indoor      0
outdoor     0
domestic    0
Profit      0
dtype: int64

In [ ]:
X=data.iloc[:,:-1].values
y=data.iloc[:,3].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.3, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_predict=reg.predict(X_test)
y_predict

array([104054.44293869, 132719.3459701 , 133640.26830949,  72294.76911458,
       179685.62227843, 114508.97572031,  66305.23069863,  98297.69326565,
       114277.91894933, 169112.36095691,  96257.40152149,  87916.97242208,
       110687.33942598,  90670.8337806 , 127780.63539583])